.navigation {
  max-width: 520px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  padding: 27px 27px 92px;
  box-sizing: border-box;
  top: 0;
  right: 0;
  background-color: #202020;
}

.navigation__overlay {
  display: flex;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.navigation__close-button {
  max-width: 22px;
  width: 100%;
  min-height: 22px;
  align-self: flex-end;
  margin: 0;
  padding: 0;
  border: 0;
  background: url(../../../images/close-button.svg) center;
}

.navigation__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 0;
  padding: 110px 0 0;
  list-style-type: none;
}

.navigation__link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.21;
  color: #FFFFFF;
  text-decoration: none;
  position: relative;
}

.navigation__link:hover {
  opacity: .7;
  cursor: pointer;
}

.navigation__profile {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-top: auto;
}

.navigation__profile-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  align-items: center;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

.navigation__profile-icon {
  margin: 0 0 0 17px;
  padding: 8px 7.5px;
  background-color: #313131;
  border-radius: 4px;
}

@media screen and (max-width: 475px) {
  .navigation {
    padding: 16px 18px 48px;
  }
}
